[Unit]
Description=credmgr.swagger_server.service

[Service]
User=credmgr
Type=oneshot
RemainAfterExit=yes
StandardOutput=journal+console
ExecStart=/bin/python3 -m credmgr.swagger_server </dev/null &>/dev/null &
ExecStop=/usr/bin/curl localhost:8080/stopServer

[Install]
WantedBy=default.target