include credmgr/CredentialManagers/OAuthCredmgrWebserver/static/*.js
include credmgr/CredentialManagers/OAuthCredmgrWebserver/templates/*.html
recursive-include examples *
include README.md
include LICENSE
